.center
{
    text-align: center;
}

ol
{
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
}

p
{
    color : red;
}

.black
{
    color : black;
}

#green
{
    color : green;
}

